# TODO: Clean up
A11967A_*
clean*
kmc_input.txt
*.csv
*.tar.gz
.rerun
CA_dir.txt
ESTIMATED_GENOME_SIZE.txt
PLOIDY.txt
assemble.*
config*
contig*
create_mega-reads.err
environment.sh
guillaume*
hybrid*
k_u_hash_0
log_Toil.txt
meanAndStdevByPrefix.pe.txt
mr.*
ont_25xlongest.fa
pe*
quorum*
random_seq*
repetitive_seq*
super*
work1*
scratch/
test/
test_spades_assembly/
trial_wgsim_assembly/
trial_seqwell_assembly*/
